* {
  box-sizing: border-box;
  /* border-color: RED;
  border-style: solid;
  border-width: 1px; */
}

body {
  margin: 0;
}

.bar {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #432fbf;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  padding: 0 2rem;
  height: 4rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  position: relative;
}

.navbar a:hover {
  color: #fff;
}

.navbar a.active {
  color: #fff;
}

.pages {
  flex: 75%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.pages .nav-item-highlighter {
  width: 17%;
  height: 75%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  visibility: hidden;
  transition: left 0.5s;
}

.pages .nav-item.active {
  color: #fff;
}

.pages .nav-item.active ~ .nav-item-highlighter {
  visibility: visible;
}

.pages .nav-item.active.item-0 ~ .nav-item-highlighter {
  left: 16.5%;
}

.pages .nav-item.active.item-1 ~ .nav-item-highlighter {
  left: 49%;
}

.pages .nav-item.active.item-2 ~ .nav-item-highlighter {
  left: 83%;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  color: #999;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
}

.navbar .nav-item .fas,
.navbar .nav-item .icon {
  transform: translateX(15px);
  margin-right: 10px;
  transition: transform 0.25s;
}

.navbar .nav-item.active .fas,
.navbar .nav-item.active .icon {
  margin-right: 10px;
  transform: translateX(0px);
}

.navbar .nav-item .nav-item-text {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s;
}

.navbar .nav-item.active .nav-item-text {
  visibility: visible;
  opacity: 1;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
  display: none;
}

.social-container {
  width: 25%;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  align-items: center;
  padding-right: 2rem;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
}

a.social:hover {
  transform: translateY(-2px);
}

.sidebar-menu {
  visibility: hidden;
  opacity: 0;
  display: none;
}

@media screen and (max-width: 850px) {
  .nav-btn {
    visibility: visible;
    opacity: 1;
    display: flex;
    padding: 1rem;
    height: fit-content;
    /* left: 75%; */
    color: #999;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1 !important;
    display: block;
  }

  .sidebar-menu {
    visibility: visible;
    opacity: 1;
    display: flex;
    text-decoration: none;
    flex-wrap: wrap;

    top: 0;
    background-color: #432fbf;
    width: 75%;
    height: 100%;
    position: fixed;
    z-index: 3 !important;
    transition: 0.5s;
  }

  .sidebar-menu .pages {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    font-size: 30px;
    margin-top: 60px;
  }

  .nav-item {
    color: #999;
    text-decoration: none;
  }

  a.social {
    color: #999;
  }

  .social-container {
    width: 100%;
    justify-content: center;
    padding-right: 0;
    align-content: flex-end;
    align-items: flex-end;
  }

  .navbar {
    display: none;
  }

  .pages .nav-item.active ~ .nav-item-highlighter {
    visibility: hidden;
  }

  .navbar .nav-item .nav-item-text {
    visibility: visible;
    opacity: 1;
  }

  .pages .nav-item.active {
    color: #fff;
  }

  .icon {
    margin-right: 10px;
  }

  .icon svg {
    transform: translateY(3px);
  }
}
